html * {
  color-profile: sRGB;
  rendering-intent: auto; }

body {
  background: #fdf6e3;
  background-color: #fdf6e3; 
  background-image: url("../images/paisagem.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  //background-position: bottom 3% left 2%, top 4% left 2%, top 13.7% left 3%;
  //background-size: 17%, 15%, 9%;

}

div {
position: absolute;
left: 50%;
top: 35%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

input[type=text] {
    font-size: 2em;
    border: 2px solid red;
    border-radius: 4px;
    padding: 2% 4%;
    text-decoration: none;
    margin: 8px 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    font-size: 2em;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: 2px solid;
    border-radius: 5px;
    color: white;
    padding: 2% 4%;
    text-decoration: none;
    margin: 8px 4px;
    cursor: pointer;
}

 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #657b83; }

/*********************************************
 * HEADERS
 *********************************************/
 h1,  h2,  h3,  h4,  h5,  h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: 'League Gothic', Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none; 
  word-wrap: break-word; }

 h1 {
  font-size: 3.8em; }

 h2 {
  font-size: 2.11em; }

 h3 {
  font-size: 1.55em; }

 h4 {
  font-size: 1em; }

 h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
 p {
  font-size: 4em;
  margin: 20px 0;
  line-height: 1.3; }

 strong,  b {
  color: #db1826;	
  font-weight: bold; }

 em {
  color: #000;
  font-style: italic; }

 ol,  dl,  ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

 ol {
  list-style-type: decimal; }

 ul {
  list-style-type: none; }

 ul ul {
  list-style-type: none; }

 ul ul ul {
  list-style-type: circle; }

 ul ul,  ul ol,  ol ol,  ol ul {
  display: block;
  margin-left: 40px; }

 dt {
  font-weight: bold; }

 dd {
  margin-left: 40px; }

 q,  blockquote {
  quotes: none; }

 blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

 blockquote p:first-child,  blockquote p:last-child {
  display: inline-block; }

 q {
  font-style: italic; }

 pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

 code {
  color: #000;	
  font-family: monospace; }

 pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }

 table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

 table th {
  font-weight: bold; }

 table th,  table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

 table tr:last-child td {
  border-bottom: none; }

 sup {
  vertical-align: super; }

 sub {
  vertical-align: sub; }

 small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

 small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
 a {
  font-size: 2em; 
  color: #268bd2;
  text-decoration: underline;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

 a:hover {
  color: #0000ff;
  text-decoration: none;
  //text-shadow: 5px 5px 10px #0000ff;
  border: none; }

 .roll span:after {
  color: #fff;
  background: #1a6291; }
